body {
    margin: 0em;
}

canvas {   
    width: 100%;
    height: 90%;
}

#toolbar {
    border-bottom: black 1px solid;
    margin: 1rem;
}

.itemgroup {
    padding: 1rem;
    background-color: #d8d1d1;
    width: fit-content;
}